.grid {
    background-color: $blue;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px;
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
    align-content: flex-start;
    
    &__item {
        width: calc(100% / 3);
        padding: 20px;
    }
}