//#######################################
//## CORE ###############################
//#######################################
@import "styles/base/reset";
@import "styles/base/html";
@import "styles/utilities/colors";

//#######################################
//## LAYOUT #########################
//#######################################
@import "styles/layout/grid";
@import "styles/layout/header";
@import "styles/layout/sidebar";
@import "styles/layout/main-content";

//#######################################
//## COMPONENTS #########################
//#######################################
@import "styles/components/project";
@import "styles/components/folder";


.folder.over {
    background-color: $purple;
    color: $white;
}

.drag-image {
    width: 162px; 
    height: 102px;

    div {
        width: 162px; 
        height: 102px;
        position: absolute;
        border-radius: 5.4px;
        border: 1px solid $purple;
    }

    &__number {
        width: 30px;
        height: 30px;
        display: block;
        background-color: $purple;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $white;
        font-size: 12px;
    }
}